@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dsilof');
  src:  url('fonts/icomoon.eot?dsilof#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dsilof') format('truetype'),
    url('fonts/icomoon.woff?dsilof') format('woff'),
    url('fonts/icomoon.svg?dsilof#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-evil2:before {
  content: "\e9f0";
}
